table {
        border: none;
        table-layout: auto;
        border-spacing: 15px;
}

th {
        border: 1px solid #f2f2f2;
        background-color: #dddddd;
        text-align: left;
        padding: 8px;
      }

label {
      vertical-align: top;
}

h1 {font-style: bold;
  text-transform: uppercase;
  font-size: 36px;
      }
  
h2 {
  text-transform: uppercase;
     color: #66bfbf;
}

body {
  background-color: #eaf6f6;
  }

hr {background-color: none;
    border: none;
    border-bottom: 8px dotted #eaf6f6;
    margin-top: 3%;
    width: 15%;
  }

  .content {
    background-color: #ffffff;
    max-width: 1300px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  #main {font-size:50px;
          text-transform: uppercase;
          color: #66bfbf;        
}

.circular {border-radius: 100%;
}

a {
  background-color: #ffffff;
  transition: background-color .5s;
}

a:hover {
  background-color: gold;
}